.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.auth-image {
    flex: 1;
    max-width: 300px;
    text-align: center;
    margin-right: 20px;
}

.auth-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.auth-form-container {
    flex: 1;
    max-width: 400px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form div {
    margin-bottom: 10px;
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
}

.auth-form input[type="email"],
.auth-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.auth-form button {
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

.auth-form button:hover {
    background-color: #005bb5;
}

.auth-form .checkbox-container {
    display: flex;
    align-items: center;
}

.auth-form .checkbox-container input {
    margin-right: 5px;
}

.auth-error {
    color: red;
    margin-bottom: 10px;
}

.forgot-password-link {
    background: none;
    border: none;
    color: #0073e6;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}

.forgot-password-link:hover {
    color: #005bb5;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}
